    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-Black.woff2') format('woff2');
        font-style: normal;
        font-weight: 900;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-BlackItalic.woff2') format('woff2');
        font-style: italic;
        font-weight: 900;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-ExtraBold.woff2') format('woff2');
        font-style: normal;
        font-weight: 800;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-ExtraBoldItalic.woff2') format('woff2');
        font-style: italic;
        font-weight: 800;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-Bold.woff2') format('woff2');
        font-style: normal;
        font-weight: 700;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-BoldItalic.woff2') format('woff2');
        font-style: italic;
        font-weight: 700;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-SemiBold.woff2') format('woff2');
        font-style: normal;
        font-weight: 600;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-SemiBoldItalic.woff2') format('woff2');
        font-style: italic;
        font-weight: 600;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-Medium.woff2') format('woff2');
        font-style: normal;
        font-weight: 500;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-MediumItalic.woff2') format('woff2');
        font-style: italic;
        font-weight: 500;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-Regular.woff2') format('woff2');
        font-style: normal;
        font-weight: 400;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-Italic.woff2') format('woff2');
        font-style: italic;
        font-weight: 400;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-Light.woff2') format('woff2');
        font-style: normal;
        font-weight: 300;
    }
    
    @font-face {
        font-family: 'OpenSauceOne';
        src: url('../fonts/OpenSauceOne-LightItalic.woff2') format('woff2');
        font-style: italic;
        font-weight: 300;
    }
    
     :root {
        --hgrid-padding: 25px;
        --vgrid-padding: 25px;
        --menu-square-length: 80px;
        --scroll-square-length: 250px;
        --time-box-length: 220px;
        --app-height: 100%;
    }
    
    html,
    body {
        width: 100%;
        box-sizing: border-box;
        font-family: OpenSauceOne, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #20243a;
    }
    
    body {
        overflow: hidden;
    }
    
    #loadwrapper {
        height: 101vh;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: 9;
        top: 0;
        left: 0;
        align-items: center;
        pointer-events: none;
        overflow: hidden;
        background: #20243a;
        margin: 0;
        padding: 0;
    }
    
    .loaderbadge {
        padding: 0;
        background: #d5c3af;
        -webkit-clip-path: circle(40% at 50% 50%);
        clip-path: circle(40% at 50% 50%);
        z-index: 10;
    }
    
    .textcircle {
        position: relative;
        display: block;
        width: 200px;
        animation: 6s rotate infinite linear;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotateback {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
    
    .textcircle text {
        font-size: 50px;
        font-weight: 500;
        font-family: 'JetBrains Mono', monospace;
        text-transform: uppercase;
        fill: #20243a;
    }
    
    .textcircle textPath {
        letter-spacing: 17px;
        /* Firefox needs this */
    }
    
    #canvas {
        /* make the canvas wrapper fits the window */
        width: inherit !important;
        height: 100vh;
        overflow: hidden;
        position: relative;
        padding: 0px;
        min-height: 550px;
    }
    
    #canvas::after {
        content: "";
        position: absolute;
        width: 240vw;
        height: 240vh;
        left: -50%;
        top: -50%;
        opacity: 0.4;
        background-image: url(../images/noise2.png);
    }
    
    canvas {
        height: 100vh !important;
        width: 100vw !important;
        min-height: 550px;
        z-index: 1;
        filter: blur(7px);
        opacity: 0;
    }
    
    .plane {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
    
    .plane img {
        /* hide the img element */
        display: none;
    }
    /*ROTATING CIRCLE*/
    
    .rotating-badge {
        padding: 0;
        -webkit-clip-path: circle(40% at 50% 50%);
        clip-path: circle(40% at 50% 50%);
        height: 100%;
        width: 100%;
    }
    
    .rotating-badge .rotate-textcircle {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        animation: 20s rotate infinite linear;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .rotating-badge .rotate-textcircle .rotate-scroll-text {
        font-size: 30px;
        font-weight: 500;
        font-family: 'JetBrains Mono', monospace;
        text-transform: uppercase;
        fill: #f892a1;
    }
    
    .rotating-badge .rotate-textcircle textPath {
        letter-spacing: 10px;
        /* Firefox needs this */
    }
    
    .homegrid {
        position: absolute;
        box-sizing: border-box;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: [line1] var(--hgrid-padding) [line2] var(--time-box-length) [line3] 1fr [line4] 1fr [line5] calc(var(--scroll-square-length) - var(--menu-square-length)) [line6] var(--menu-square-length) [line7] var(--hgrid-padding) [end];
        grid-template-rows: [row1] var(--vgrid-padding) [row2] var(--menu-square-length) [row3] auto [row4] calc(var(--scroll-square-length) - var(--menu-square-length)) [row5] var(--menu-square-length) [row6] var(--vgrid-padding) [row7] 0vh [end];
    }
    
    .home-border {
        grid-column-start: line2;
        grid-column-end: line7;
        grid-row-start: row2;
        grid-row-end: row6;
        /*border: 4px solid #fffff5;*/
    }
    
    .home-top-row {
        grid-column-start: line2;
        grid-column-end: line7;
        grid-row-start: row2;
        grid-row-end: row3;
        /*border: 4px solid #fffff5;*/
    }
    
    .home-menu-square {
        grid-column-start: line6;
        grid-column-end: line7;
        grid-row-start: row2;
        grid-row-end: row3;
        /*border: 4px solid #fffff5;*/
        background-color: #f892a1;
        z-index: 3;
        border-radius: 50%;
        margin: 10px;
    }
    
    .home-bottom-row {
        grid-column-start: line2;
        grid-column-end: line5;
        grid-row-start: row5;
        grid-row-end: row6;
        /*border: 4px solid #fffff5;*/
        border-right: 0px;
        color: #fffff5;
        font-family: OpenSauceOne, sans-serif;
        padding: 0 20px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    
    .home-scroll-square {
        grid-column-start: line5;
        grid-column-end: line7;
        grid-row-start: row4;
        grid-row-end: row6;
        /*border: 4px solid #fffff5;*/
    }
    
    .home-date {
        grid-column-start: line2;
        grid-column-end: line5;
        grid-row-start: row5;
        grid-row-end: row6;
        /* border: 4px solid #fffff5; */
        padding: 17px;
        font-size: 18px;
        line-height: 24px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-family: 'JetBrains Mono', monospace;
        color: #fffff5;
        letter-spacing: 1px;
        text-align: left;
        font-weight: 500;
        transform: translateY(-20px);
    }
    
    #typer {
        grid-column-start: line2;
        grid-column-end: line6;
        grid-row-start: row2;
        grid-row-end: row3;
        /* border: 4px solid #fffff5; */
        color: #fffff5;
        font-weight: 500;
        margin: auto 10px;
        padding: 10px 0px;
        white-space: nowrap;
        font-size: 1.6rem;
    }
    
    #typertext {
        display: block;
        margin: auto 5px;
    }
    
    #typerline {
        background-color: #5d9f88;
        padding: 2px 8px;
    }
    
    .main-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column-start: line2;
        grid-column-end: line6;
        grid-row-start: row3;
        grid-row-end: row5;
        padding-left: 30px;
    }
    
    .main-title svg {
        fill: #f892a1;
        margin: 20px 20px 0px 20px;
        width: 100px;
        height: 100px;
        animation: 30s rotate infinite linear;
    }
    
    #down-arrow-container {
        grid-column-start: line5;
        grid-column-end: line7;
        grid-row-start: row4;
        grid-row-end: row6;
        width: var(--scroll-square-length);
        height: var(--scroll-square-length);
        /*border: 4px solid #fffff5;*/
        display: flex;
        justify-content: center;
        align-content: center;
        border: 0px solid rgba(0, 0, 0, 0)
    }
    
    #down-arrow {
        width: 50px;
        height: 50px;
        fill: #f892a1;
        align-self: center;
    }
    
    .homegrid .solid {
        font-size: 5.5rem;
        font-weight: 700;
        color: #f892a1;
        padding: 20px;
        width: fit-content;
        line-height: 5rem;
        letter-spacing: 1px;
        /* background-color: #d5c3af;
    border-radius: 7px;
    border: 8px solid #d5c3af */
    }
    
    .reveal-surname {
        transition: 1s ease all;
    }
    
    .content-wrapper {
        position: relative;
    }
    /*SECTION ZERO ABOUT ME*/
    
    .zero {
        background: #20243a;
        padding: 100px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .about-me {
        background-color: #fffff5;
        display: block;
        width: 60vw;
        min-height: 300px;
        box-shadow: 10px 10px 0 0px #5d9f88;
        margin: 50px auto 50px 5%;
        font-family: OpenSauceOne, sans-serif;
        font-weight: 500;
        color: #20243a;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    
    .about-me .content {
        padding: 50px;
    }
    
    .section-rotator {
        height: 500px;
        width: 500px;
        position: absolute;
        right: -150px;
        overflow: hidden;
    }
    
    .rotating-badge-section {
        padding: 0;
        -webkit-clip-path: circle(40% at 50% 50%);
        clip-path: circle(40% at 50% 50%);
        height: 100%;
        width: 100%;
    }
    
    .rotating-badge-section .rotate-textcircle {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        animation: 20s rotateback infinite linear;
    }
    
    .rotating-badge-section .rotate-textcircle .rotate-scroll-text {
        font-size: 40px;
        font-weight: 700;
        font-family: 'JetBrains Mono', monospace;
        text-transform: uppercase;
        fill: #fffff5;
    }
    
    .rotating-badge-section .rotate-textcircle textPath {
        letter-spacing: 4px;
        /* Firefox needs this */
    }
    
    .pink-box {
        background-color: #f892a1;
    }
    
    .blue-box {
        background-color: #6fa0b8;
    }
    
    .box-marquee {
        color: #fffff5;
        font-family: 'JetBrains Mono', monospace;
        font-size: 1.5rem;
        letter-spacing: 1px;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        padding: 0px 15px;
        height: 3rem;
        line-height: 3rem;
        font-weight: 300;
        overflow: hidden;
    }
    
    .content-title {
        color: #fffff5;
        background-color: #20243a;
    }
    
    .gallery-title {
        color: #fffff5;
        background-color: #e15232;
    }
    
    .experiment-title {
        color: #fffff5;
        background-color: #5d9f88;
    }
    
    .marquee-title-wrapper {
        overflow: hidden;
        position: relative;
        padding: 20px 0px;
    }
    
    .marquee-title {
        padding: 15px 0px;
        font-family: 'Jetbrains Mono', monospace;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 3px;
        font-weight: 200;
        border-top: 3px solid #fffff5;
        border-bottom: 3px solid #fffff5;
    }
    /* SECTION ONE BUILT DIFFERENT */
    
    .one {
        background: #fffff5;
        padding: 130px 10px 90px 10px;
        overflow: hidden;
    }
    
    .one .content {
        width: 70%;
        margin: auto;
    }
    
    .one h1 {
        font-family: OpenSauceOne, sans-serif;
        font-style: italic;
        color: #f892a1;
        font-size: 3rem;
        font-weight: 600;
        line-height: 3.5rem;
        margin-bottom: 60px;
    }
    
    .one h2 {
        text-align: right;
        font-family: OpenSauceOne, sans-serif;
        color: #f892a1;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 500;
    }
    /* SECTION 2 CARD CONTENT WORK */
    
    .two {
        background: #f892a1;
        padding: 50px;
    }
    
    .two .content {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
        position: relative;
        margin: auto;
        max-width: 1000px;
    }
    
    .card-work {
        display: block;
        height: 400px;
        box-shadow: 10px 10px 0 0px #5d9f88;
        font-family: OpenSauceOne, sans-serif;
        font-weight: 500;
        background-color: #20243a;
        color: #fffff5;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin: 30px;
        flex: 2;
        display: flex;
        flex-direction: column;
        background-color: #20243a;
        position: relative;
    }
    
    .card-link {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-decoration: none;
        z-index: 99999;
    }
    
    .card-title {
        background-color: #20243a;
        color: #fffff5;
        font-family: 'JetBrains Mono', monospace;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 15px;
        font-weight: 300;
        overflow: hidden;
        display: block;
        letter-spacing: 2px;
    }
    
    .card-image {
        border-top: 1px solid #fffff5;
        border-bottom: 1px solid #fffff5;
        height: 40%;
        width: 100%;
        margin: 0;
        padding: 0%;
    }
    
    .card-text {
        font-family: OpenSauceOne, sans-serif;
        color: #fffff5;
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 500;
        padding: 15px;
    }
    
    .cw-white {
        box-shadow: 10px 10px 0 0px#fffff5;
    }
    
    .cw-yellow {
        box-shadow: 10px 10px 0 0px #ffcd49;
    }
    
    .cw-blue {
        box-shadow: 10px 10px 0 0px #6fa0b8;
    }
    
    .cw-red {
        box-shadow: 10px 10px 0 0px #e15232;
    }
    
    .cw-green {
        box-shadow: 10px 10px 0 0px #5d9f88;
    }
    
    .cw-purple {
        box-shadow: 10px 10px 0 0px #9f66d1;
    }
    /*SECTION THREE*/
    
    .three {
        background: #fffff5;
        padding: 100px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .interests {
        background-color: #20243a;
        display: block;
        width: 60vw;
        min-height: 300px;
        box-shadow: 10px 10px 0 0px #9f66d1;
        margin: 50px 5% 50px auto;
        font-family: OpenSauceOne, sans-serif;
        font-weight: 400;
        color: #fffff5;
        font-size: 1.2rem;
        line-height: 1.4rem;
        position: relative;
    }
    
    .interests .content {
        padding: 25px;
        position: relative;
    }
    
    .interest-bar {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 99999;
        user-select: none;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-right: 5px;
        font-weight: 500;
    }
    
    .interest-entry {
        padding: 10px;
        margin: 0px;
        border-top: 1px solid #fffff5;
        position: relative;
        transition: 0.35s all ease;
        max-height: 4.8rem;
    }
    
    .open-entry {
        max-height: 100vh;
        transition: 0.35s all ease;
    }
    
    .interest-entry:nth-last-of-type(1) {
        border-bottom: 1px solid #fffff5;
    }
    
    .interest-inactive::after {
        content: "\2192";
        font-weight: 300;
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
    }
    
    .interest-active::after {
        transform: rotate(90deg);
    }
    
    .interest-content {
        display: block;
        margin: 10px 25px 5px 15px;
        padding: 0;
        user-select: none;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    
    .interest-hide {
        display: none!important;
    }
    
    .section-rotator2 {
        height: 500px;
        width: 500px;
        position: absolute;
        left: -150px;
        top: 20vh;
        overflow: hidden;
    }
    
    .rotating-badge-section2 {
        padding: 0;
        -webkit-clip-path: circle(40% at 50% 50%);
        clip-path: circle(40% at 50% 50%);
        height: 100%;
        width: 100%;
    }
    
    .rotating-badge-section2 .rotate-textcircle2 {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        animation: 20s rotateback infinite linear;
    }
    
    .rotate-scroll-text2 {
        font-size: 40px;
        font-weight: 700;
        font-family: 'JetBrains Mono', monospace;
        text-transform: uppercase;
        fill: #20243a;
    }
    
    .rotating-badge-section2 .rotate-textcircle2 textPath {
        letter-spacing: 3px;
        /* Firefox needs this */
    }
    /*SECTION 4 LETS GOOOOO*/
    
    .four {
        background: #ffcd49;
        padding: 70px 10px 70px 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .experiments {
        background-color: #fffff5;
        display: block;
        width: 60vw;
        min-height: 300px;
        box-shadow: 10px 10px 0 0px #e15232;
        margin: 50px auto 50px 5%;
        font-family: OpenSauceOne, sans-serif;
        color: #20243a;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    
    .experiments .content {
        padding: 50px;
    }
    
    .experiment {
        font-size: 1.4rem;
        padding: 10px;
        line-height: 1.6rem;
        border-top: 1px solid #20243a;
        font-weight: 700;
    }
    
    .experiment-content {
        font-size: 1rem;
        margin: 15px 15px 0px 15px;
        line-height: 1.2rem;
        font-weight: 400;
    }
    
    .experiment:nth-last-of-type(1) {
        border-bottom: 1px solid #20243a;
    }
    
    .nowrap {
        white-space: nowrap;
    }
    
    .no-curtains .plane {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .no-curtains .plane img {
        display: block;
        max-width: 100%;
        object-fit: cover;
    }
    
    canvas.webgl {
        position: absolute;
        z-index: 3;
        height: 100% !important;
        width: 100% !important;
    }
    
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 999;
        opacity: 0
    }
    
    .follower {
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 998;
        opacity: 0;
    }
    /* slightly transparent fallback */
    
    .follower {
        background-color: rgba(255, 255, 255, 0.4);
    }
    /* if backdrop support: very transparent and blurred */
    
    @supports ((-webkit-backdrop-filter: invert(100%)) or (backdrop-filter: invert(100%))) {
        .follower {
            backdrop-filter: invert(100%);
            background-color: unset;
        }
    }
    /*PHOTOGRID*/
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 2vmin;
    }
    
    li {
        height: 40vh;
        flex-grow: 1;
        margin: 2vmin;
    }
    
    img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
    
    @media (max-aspect-ratio: 1/1) {
        li {
            height: 30vh;
        }
    }
    
    @media (max-height: 480px) {
        li {
            height: 80vh;
        }
    }
    /*     
    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
        gallery {
            flex-direction: row;
        }
        li {
            height: auto;
            width: 100%;
        }
        img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
        }
    } */
    
    @media screen and (max-width: 1100px) {
        .section-rotator {
            right: -250px;
        }
        .section-rotator2 {
            left: -250px;
        }
        .two .content {
            grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
            width: 100%;
        }
    }
    
    @media screen and (max-width: 800px) {
        .homegrid .solid {
            font-size: 4.5rem;
            color: #f892a1;
            padding: 10px;
            width: fit-content;
            line-height: 4.2rem;
        }
        .home-bottom-row {
            font-size: 1rem;
        }
        .main-title svg {
            fill: #f892a1;
            margin: 20px 0px 0px 10px;
            width: 80px;
            height: 80px;
            animation: 30s rotate infinite linear;
        }
        .four,
        .three,
        .zero {
            padding: 50px 20px;
        }
        .interests {
            display: block;
            width: 70vw;
            min-height: 300px;
            margin: 20px 20px 20px auto;
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
        .experiments,
        .about-me {
            display: block;
            width: 60vw;
            min-height: 300px;
            margin: 20px auto 20px 20px;
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
        .interests .content,
        .experiments .content,
        .about-me .content {
            padding: 25px;
        }
        .section-rotator {
            height: 300px;
            width: 300px;
            position: absolute;
            right: -125px;
            overflow: hidden;
        }
        .section-rotator2 {
            height: 300px;
            width: 300px;
            position: absolute;
            left: -125px;
            overflow: hidden;
        }
        .two {
            padding: 30px 10px;
        }
        .two .content {
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
    }
    
    @media screen and (max-width: 600px) {
         :root {
            --hgrid-padding: 20px;
            --vgrid-padding: 20px;
            --menu-square-length: 60px;
            --scroll-square-length: 190px;
        }
        .follower,
        .cursor {
            display: none;
        }
        #canvas,
        canvas {
            height: var(--app-height);
        }
        .homegrid {
            grid-template-columns: [line1] var(--hgrid-padding) [line2] 1fr [line3] 1fr [line4] auto [line5] calc(var(--scroll-square-length) - var(--menu-square-length)) [line6] var(--menu-square-length) [line7] var(--hgrid-padding) [end];
            grid-template-rows: [row1] var(--vgrid-padding) [row2] var(--menu-square-length) [row3] auto [row4] calc(var(--scroll-square-length) - var(--menu-square-length)) [row5] var(--menu-square-length) [row6] var(--vgrid-padding) [row7] 0vh [end];
        }
        #typer {
            grid-column-start: line2;
            grid-column-end: line6;
            grid-row-start: row2;
            grid-row-end: row3;
            font-size: 1.2rem;
        }
        .home-date {
            grid-column-start: line2;
            grid-column-end: line5;
            grid-row-start: row5;
            grid-row-end: row6;
            border-right: none;
            padding: 10px;
            font-size: 13px;
            line-height: 14px;
            justify-content: center;
            letter-spacing: 0px;
            transform: translateY(-20px);
        }
        .main-title {
            padding-left: 0px;
        }
        .main-title svg {
            fill: #f892a1;
            margin: 20px 0px 0px 10px;
            width: 70px;
            height: 70px;
            animation: 30s rotate infinite linear;
        }
        .homegrid .solid {
            font-size: 20vw;
            color: #f892a1;
            width: fit-content;
            line-height: 20vw;
        }
        .main-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column-start: line2;
            grid-column-end: line5;
            grid-row-start: row3;
            grid-row-end: row4;
            padding-left: 10px;
        }
        .home-bottom-row {
            display: none;
        }
        .four,
        .three,
        .zero {
            padding: 100px 35px 50px 35px;
        }
        .experiments,
        .interests,
        .about-me {
            width: 100%;
            margin: 0;
        }
        .section-rotator2,
        .section-rotator {
            height: 300px;
            position: unset;
            width: 100%;
            overflow: hidden;
            transform: translate(5px, 0px);
            margin-top: 40px;
            margin-bottom: -200px;
        }
        .one {
            padding: 60px 10px 30px 10px;
        }
        .one .content {
            width: 90%;
            margin: auto;
            text-align: justify;
        }
        .one h1 {
            font-family: OpenSauceOne, sans-serif;
            font-style: italic;
            color: #f892a1;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.5rem;
            margin-bottom: 60px;
        }
        .one h2 {
            text-align: left;
        }
        .two .content {
            max-width: 350px;
            grid-template-columns: 1fr;
        }
        .two {
            padding: 30px 0px;
        }
        .card-work {
            margin: 15px 23px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .three,
        .four,
        .zero {
            padding: 100px 35px 50px 35px;
        }
        #typer {
            font-size: 1.1rem;
        }
        .card-title {
            padding: 5px 10px;
            letter-spacing: 1px;
        }
    }
    
    @media screen and (max-width: 320px) {
         :root {
            --hgrid-padding: 5px;
            --vgrid-padding: 5px;
            --menu-square-length: 50px;
            --scroll-square-length: 170px;
        }
        .ccode {
            display: none;
        }
        .home-date {
            grid-column-start: line2;
            grid-column-end: line5;
            grid-row-start: row5;
            grid-row-end: row6;
            border-right: none;
            padding: 10px;
            padding-left: 20px;
            font-size: 13px;
            line-height: 14px;
            transform: translateY(-20px);
        }
        .main-title {
            padding-left: 10px;
        }
        .homegrid .solid {
            font-size: 3rem;
            color: #f892a1;
            width: fit-content;
            line-height: 2.8rem;
        }
    }