@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-BlackItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-ExtraBoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-SemiBoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-MediumItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('../fonts/OpenSauceOne-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300;
}

html,
body {
    width: 100%;
    box-sizing: border-box;
    font-family: OpenSauceOne, sans-serif;
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: -1;
    overflow: hidden;
}

#canvas {
    /* make the canvas wrapper fits the window */
    width: inherit !important;
    height: 100vh !important;
    background-color: #bec6d2;
    overflow: hidden;
    height: 100vh;
}

.scroller {
    height: 100vh;
}

canvas {
    height: inherit !important;
    width: inherit !important;
    position: absolute;
}

.webgl {
    z-index: 9;
}

.plane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    z-index: -99;
}

.plane img {
    /* hide the img element */
    display: none;
}

.firstwrap #hero {
    font-size: 1.9rem;
    color: #fff;
    font-weight: 700;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: unset;
    -webkit-text-stroke-color: unset;
}

#herotext {
    border-bottom: 2px solid white;
    line-height: 1.9rem;
}

.content-wrapper h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 900;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.content-wrapper {
    height: 100vh;
    overflow: hidden;
}

.content-wrapper p {
    font-size: 1.3rem;
    color: white;
}

.content {
    margin: 40px;
}

.zero {
    background: rgba(0, 0, 0, 0.0);
}

.zero h1 {
    margin: 10px 0px;
}

.one {
    background: #bec6d2
}

.two {
    background: #2a3150;
}

.reveal-surname {
    transition: 1s ease all;
}

.no-curtains .plane {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-curtains .plane img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

canvas.webgl {
    height: 50vh !important;
    width: 50vw !important;
    right: 0
}